<!--
title: Spsl
description: © Ville de Lausanne - Service de protection et sauvetage Lausanne
published: true
date: 2021-08-06T07:15:46.189Z
tags: 
editor: ckeditor
dateCreated: 2021-08-05T13:55:42.523Z
-->

<h1>Serveur intervention SPSL</h1>
<p>Le serveur d’intervention du SPSL permet d’automatiser un certain nombre d’actions relatives à la réception d’une intervention impliquant la caserne.</p>
<p>Lorsqu’une intervention démarre, le serveur d’intervention doit</p>
<ul>
  <li>Allumer les lumières et les haut-parleurs dans les chambres auxquelles les personnes mobilisées sont affectées</li>
  <li>Diffuser un gong selon le nombre de véhicules mobilisés, puis diffuser le message audio d’intervention dans la caserne et dans les chambres</li>
  <li>Ouvrir les portes des travées pour les véhicules mobilisés</li>
  <li>Une fois toutes les actions effectuées, permettre à une nouvelle intervention de se dérouler en fonction de la priorité des interventions en attente</li>
</ul>
<p>Lorsque trop d’interventions sont en attente, le fichier audio d’intervention est remplacé par un autre fichier audio (plus court) indiquant que des interventions multiples sont en cours.</p>
<p>Le serveur d’intervention utilise le système de localisation Quuppa afin de détecter en temps réel la position des véhicules dans les travées, et ainsi déterminer efficacement quelles portes ouvrir en cas d’intervention.</p>
<p>L’actualisation des personnes et des véhicules pouvant être mobilisés pour les interventions se fait grâce à une synchronisation régulière avec la base de données EcaDB</p>
<figure class="image"><img src="/uploads/mobilisation_centre_spsl.png"></figure>
<h1>Emplacement des affichages caserne au SPSL</h1>
<figure class="table" style="width:90%;">
  <table>
    <tbody>
      <tr>
        <th>Écran</th>
        <th>Emplacement</th>
      </tr>
      <tr>
        <th>Lausanne 01</th>
        <th>Couloir cafeteria côté nord</th>
      </tr>
      <tr>
        <th>Lausanne 02</th>
        <th>Garage WC</th>
      </tr>
      <tr>
        <th>Lausanne 03</th>
        <th>Garage</th>
      </tr>
      <tr>
        <th>Lausanne 04</th>
        <th>Perche de feu (Pole Dance)</th>
      </tr>
      <tr>
        <th>Lausanne 05</th>
        <th>Salle chef section</th>
      </tr>
      <tr>
        <th>Lausanne 06</th>
        <th>Couloir cafeteria côté sud</th>
      </tr>
      <tr>
        <th>Lausanne 07</th>
        <th>Vestiaire gym</th>
      </tr>
      <tr>
        <th>Lausanne 08</th>
        <th>Atelier</th>
      </tr>
      <tr>
        <th>Lausanne 09</th>
        <th>Bureau du commandant</th>
      </tr>
      <tr>
        <th>Lausanne 10</th>
        <th>Couloir salle chef section</th>
      </tr>
    </tbody>
  </table>
</figure>
<h1>Script pour activer/désactiver la mise à jour des données au SPSL</h1>
<h2>Documentation</h2>
<ul>
  <li>Schtasks.exe - <a href="https://docs.microsoft.com/en-us/windows/win32/taskschd/schtasks">https://docs.microsoft.com/en-us/windows/win32/taskschd/schtasks</a></li>
  <li>Simple Obfuscation (cacher le password) - <a href="https://mikefrobbins.com/2017/06/15/simple-obfuscation-with-powershell-using-base64-encoding/">https://mikefrobbins.com/2017/06/15/simple-obfuscation-with-powershell-using-base64-encoding/</a>
    <ul>
      <li>Pour generer le obfuscation lancer la ligne suivant avec PowerShell</li>
    </ul>
  </li>
</ul>
<blockquote>
  <p><code>[Convert]::ToBase64String([System.Text.Encoding]::Unicode.GetBytes("'PASSWORD_ADMIN_SYSTEL'"))</code></p>
</blockquote>
<h2>EnableRemoteScheduledTask.bat</h2>
<pre><code class="language-plaintext">@echo off
:: "Possible options /DISABLE or /ENABLE"
powershell -encodedCommand JwBFAEMAQQBAAFMAeQBzAHQAZQBsACEAQQBkAFcAaQBuADIAMAAxADYAJwA= -noprofile &gt;tmp.txt
set /p password=&lt;tmp.txt
del tmp.txt
schtasks /Change /S 10.80.128.10 /U administrateur@cta /P %password% /TN "\ActivationSPSL\Activation Auto" /ENABLE
schtasks /Query /S 10.80.128.10 /U administrateur@cta /P %password% /FO TABLE /TN "\ActivationSPSL\Activation Auto"
</code></pre>
<h2>DisableRemoteScheduledTask.bat</h2>
<pre><code class="language-plaintext">@echo off
:: "Possible options /DISABLE or /ENABLE"
powershell -encodedCommand JwBFAEMAQQBAAFMAeQBzAHQAZQBsACEAQQBkAFcAaQBuADIAMAAxADYAJwA= -noprofile &gt;tmp.txt
set /p password=&lt;tmp.txt
del tmp.txt
schtasks /Change /S 10.80.128.10 /U administrateur@cta /P %password% /TN "\ActivationSPSL\Activation Auto" /DISABLE
schtasks /Query /S 10.80.128.10 /U administrateur@cta /P %password% /FO TABLE /TN "\ActivationSPSL\Activation Auto"
</code></pre>
<h2>Ecrans portail web</h2>
<p>Script de démarrage automatique du portail web dans <code>~/.config/autostart</code></p>
<h2>Analyse des logs de mobilisation au SPSL</h2>
<p>Se connecter sur le serveur de mobilisation SPSL : <a href="http://dsi-srv-mobilisation-01.telem.local:8080">http://dsi-srv-mobilisation-01.telem.local:8080</a> (utilisateur et mdp sur le keepass ProSDIS-Infra)</p>
<ol>
  <li>Sélectionner l’onglet «&nbsp;Application Server&nbsp;» (en bas à gauche)</li>
  <li>Sélectionner le menu «&nbsp;History&nbsp;» (à droite)</li>
  <li>Ouvrir la combo box «&nbsp;Export&nbsp;»</li>
  <li>Cliquer pour ouvrir le fichier de log (choisir votre éditeur de texte préféré)</li>
</ol>
<figure class="image"><img src="/uploads/srv-mob-spsl.png" alt="Srv Mob Spsl"></figure>
<p>Chercher le texte «&nbsp;Starting intervention&nbsp;»<br>Dans l’exemple le système voyait l’intervention 409 mais le fichier WAV n’était pas encore présent, une fois le fichier présent le serveur commence la mobilisation au SPSL.<br>Si après 30s le fichier WAV n'est pas présent sur la GED, la sonnerie par défaut va être utilisée.</p>
<p>Example de log&nbsp;(l’heure affichée en UTC):</p>
<blockquote>
  <p><strong>2020-01-27 08:25:57,498 INFO ch.swissdotnet.spsl.intervention.start.StartInterventionTransformer [START intervention polling scheduler-1] Intervention [00000409] provided with sound URL [null]</strong>.<br>2020-01-27 08:25:57,499 ERROR ch.swissdotnet.spsl.intervention.start.StartInterventionTransformer [START intervention polling scheduler-1] Intervention[00000409] provided with invalid sound URL [null].<br>2020-01-27 08:26:02,193 DEBUG ch.swissdotnet.spsl.intervention.inventory.api.CellNetApi [Quuppa API session scheduler-1] CellNet API, performing PUT request on: [/api/plugin/v1/init].<br>2020-01-27 08:26:02,204 INFO ch.swissdotnet.spsl.intervention.start.StartInterventionGetter [START intervention polling scheduler-1] Requesting interventions from START on [<a href="http://10.64.2.180:8989">http://10.64.2.180:8989</a>].<br>2020-01-27 08:26:02,457 INFO ch.swissdotnet.spsl.intervention.start.StartInterventionTransformer [START intervention polling scheduler-1] Intervention [00000409] provided with sound URL [null].<br>2020-01-27 08:26:02,457 ERROR ch.swissdotnet.spsl.intervention.start.StartInterventionTransformer [START intervention polling scheduler-1] Intervention[00000409] provided with invalid sound URL [null].<br>2020-01-27 08:26:04,695 DEBUG org.quartz.core.QuartzSchedulerThread [DefaultQuartzScheduler_QuartzSchedulerThread] batch acquisition of 0 triggers<br>2020-01-27 08:26:07,204 INFO ch.swissdotnet.spsl.intervention.start.StartInterventionGetter [START intervention polling scheduler-1] Requesting interventions from START on [<a href="http://10.64.2.180:8989">http://10.64.2.180:8989</a>].<br>2020-01-27 08:26:07,442 INFO ch.swissdotnet.spsl.intervention.start.StartInterventionTransformer [START intervention polling scheduler-1] Intervention [00000409] provided with sound URL [null].<br>2020-01-27 08:26:07,442 ERROR ch.swissdotnet.spsl.intervention.start.StartInterventionTransformer [START intervention polling scheduler-1] Intervention[00000409] provided with invalid sound URL [null].<br>2020-01-27 08:26:12,195 DEBUG ch.swissdotnet.spsl.intervention.inventory.api.CellNetApi [Quuppa API session scheduler-1] CellNet API, performing PUT request on: [/api/plugin/v1/init].<br>2020-01-27 08:26:12,204 INFO ch.swissdotnet.spsl.intervention.start.StartInterventionGetter [START intervention polling scheduler-1] Requesting interventions from START on [<a href="http://10.64.2.180:8989">http://10.64.2.180:8989</a>].<br>2020-01-27 08:26:12,422 INFO ch.swissdotnet.spsl.intervention.start.StartInterventionTransformer [START intervention polling scheduler-1] Intervention [00000409] provided with sound URL [null].<br>2020-01-27 08:26:12,438 ERROR ch.swissdotnet.spsl.intervention.start.StartInterventionTransformer [START intervention polling scheduler-1] Intervention[00000409] provided with invalid sound URL [null].<br>2020-01-27 08:26:17,204 INFO ch.swissdotnet.spsl.intervention.start.StartInterventionGetter [START intervention polling scheduler-1] Requesting interventions from START on [<a href="http://10.64.2.180:8989">http://10.64.2.180:8989</a>].<br><strong>2020-01-27 08:26:17,467 INFO ch.swissdotnet.spsl.intervention.start.StartInterventionTransformer [START intervention polling scheduler-1] Intervention [00000409] provided with sound URL [</strong><a href="https://ged.118-vaud.ch:443/alfresco/service/cmis/s/workspace:SpacesStore/i/4850c735-bc6f-44f5-8e03-56f925a0118b/content.wav"><strong>https://ged.118-vaud.ch:443/alfresco/service/cmis/s/workspace:SpacesStore/i/4850c735-bc6f-44f5-8e03-56f925a0118b/content.wav</strong></a><strong>].</strong><br><strong>2020-01-27 08:26:17,475 INFO ch.swissdotnet.spsl.intervention.session.InterventionSession [START intervention polling scheduler-1] Starting intervention [00000409]</strong></p>
  <p>with vehicles<br>[Feumotech AG AS 1000 (R_SEMOIR VD 2364) (id : 9517)] at place []</p>
  <p>and persons<br>[Sap Nicolas Mayer (2037) (id : 2037)] in room [57]<br>[App Eric Chatelan (737) (id : 737)] in room [57]</p>
  <p>2020-01-27 08:26:17,476 DEBUG ch.swissdotnet.spsl.intervention.inventory.api.CellNetApi [START intervention polling scheduler-1] CellNet API, performing PUT request on: [/api/plugin/v1/states].<br>2020-01-27 08:26:17,493 DEBUG ch.swissdotnet.spsl.intervention.inventory.api.CellNetApi [START intervention polling scheduler-1] CellNet API, performing PUT request on: [/api/plugin/v1/states].<br>2020-01-27 08:26:17,518 INFO ch.swissdotnet.spsl.intervention.session.InterventionSession [START intervention polling scheduler-1] Sound [<a href="https://ged.118-vaud.ch:443/alfresco/service/cmis/s/workspace:SpacesStore/i/4850c735-bc6f-44f5-8e03-56f925a0118b/content.wav">https://ged.118-vaud.ch:443/alfresco/service/cmis/s/workspace:SpacesStore/i/4850c735-bc6f-44f5-8e03-56f925a0118b/content.wav</a>] transmission started for intervention [00000409].<br><strong>2020-01-27 08:26:17,609 INFO ch.swissdotnet.spsl.intervention.session.InterventionSession [Resource session scheduler-1] Sound transmission succeeded.</strong></p>
</blockquote>
